html, body {
	height: 100%;
	width: 100%;
	margin-left: 2%;
	margin-right: 2%
}

.header {
	font-size: 20px;
	font-family: sans-serif;
	text-align: justify;
	width: 70%;
	margin: 0 auto;
	padding-top: .5em;
	padding-right: 1em;
	padding-left: .5em;
	line-height: 150%;
	/*background-color: yellow;*/

}

.welcome {
	font-size: 20px;
	font-family: sans-serif;
	text-align: right;
	width: 70%;
	margin: 0 auto;
	padding-right: 1em;
	padding-left: .5em;

}

.container {
	clear: both;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.item {
	width: 24.75%;
	height: 150px;
	max-height: 300px;
	min-width: 150px;
	float: left;
	margin: 1.5% auto;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	/*line-height: 100px;*/
}

.footer {
	clear: both;
	font-size: 12px;
	font-family: sans-serif;
	width: 70%;
	margin: 10px auto;
	text-align: center;
	line-height: 2em;
}

.footer ul li {
	display: inline;
	list-style-type: none;
	/*margin-right: 5%;*/
	line-height: 1.2em;
	padding: 0;
	margin-right: 2%;
	margin-left: 2%;
}


.footer ul {
	padding: 0;
}

a {
	text-decoration: none;
	color: #0645AD;

}

a:visited {
	text-decoration: none;
	color: #0645AD;

}

img {
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
	text-align: center;
}

/*@media (max-width: 815px) {
	body {
		background-color: blue;
	}
}

@media (max-width: 500px) {
	body {
		background-color: green;
	}
}*/