html, body {
	height: 100%;
	width: 100%;
	margin-left: 2%;
	margin-right: 2%
}

.header {
	font-size: 20px;
	font-family: sans-serif;
	text-align: justify;
	width: 70%;
	margin: 0 auto;
	padding-top: .5em;
	padding-right: 1em;
	padding-left: .5em;
	line-height: 150%;

}

.welcome {
	font-size: 20px;
	font-family: sans-serif;
	text-align: right;
	width: 70%;
	margin: 0 auto;

}

.container {
	clear: both;
	width: 80%;
	margin-top: 3.5em;
	margin-left: auto;
	margin-right: auto;
	max-width: 50em;
	vertical-align: middle;
	text-align: left;
}

.item {
	width: 150px;
	height: 150px;
	max-height: 300px;
	min-width: 150px;
	float: left;
	margin: 1.5%;
	vertical-align: middle;
	display: inline-block;
}

.footer {
	clear: both;
	font-size: 12px;
	font-family: sans-serif;
	width: 70%;
	margin: 10px auto;
	text-align: center;
}

a {
	text-decoration: none;
	color: #0645AD;

}

a:visited {
	text-decoration: none;
	color: #0645AD;

}

img {
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
	text-align: center;
}

@media (max-width: 815px) {

}